body {
  color: rgb(0, 0, 0);
  max-width: 1200px;
  margin: auto;
}

.hr1 {
  border: 0;
  height: 1px;
  background-image: linear-gradient(left, whitesmoke, #d3d3d3, whitesmoke);
  background-image: -o-linear-gradient(left, whitesmoke, #d3d3d3, whitesmoke);
  background-image: -moz-linear-gradient(left, whitesmoke, #d3d3d3, whitesmoke);
  background-image: -webkit-linear-gradient(
    left,
    whitesmoke,
    #d3d3d3,
    whitesmoke
  );
}

/* ------------------------------------------------------------------------------------------------------- */
/* Header name */

.heacontainer {
  display: grid;
  grid-template: auto / auto auto;
  padding: 10px 10px 0px 10px;
}

.heaname {
  font-family: sans-serif;
  font-size: 50px;
  margin-left: 25px;
  margin-top: 20px;
}

.button {
  float: right;
  background-color: f5f5f5;
  padding: 15px;
  margin-right: 25px;
  margin-top: 20px;
  border-radius: 20px;
}

.button:hover {
  background-color: royalblue;
}

/* ------------------------------------------------------------------------------------------------------- */
/* Navigation bar */
.navigationbar {
  border: 0;
  height: 40px;
  position: sticky;
  padding: 20px;
  overflow: hidden;
  text-align: center;
}

/* Navigation bar - anchors */
.navigationbar a {
  color: rgb(107, 105, 105);
  text-align: center;
  padding: 15px;
  margin-right: 50px;
  text-decoration: none;
  font-size: 20px;
  font-style: sans-serif;
}

/* ------------------------------------------------------------------------------------------------------- */
/* About me button */
#aboutmebutton {
  background-color: #f5f5f5;
  color: black;
  border-radius: 20px;
}

/* ------------------------------------------------------------------------------------------------------- */
/* Introduction section */
.introduction {
  font-family: sans-serif;
  background-color: #f5f5f5;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  border-style: dotted;
  border-color: #ffc000;
}

.intintrocontainer {
  display: inline-grid;
  grid-template-columns: 100px 100px;
  grid-gap: 3px;
}

.intpicture {
  display: flex;
  justify-content: center;
}

/* ------------------------------------------------------------------------------------------------------- */
/* Key skills section */
.keyskills {
  font-family: sans-serif;
  background-color: #f5f5f5;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  border-style: dotted;
  border-color: #ffc000;
}

.keycolumnscontainer {
  display: grid;
  grid-template: auto / auto auto auto;
  text-align: center;
}

.keycolumn {
  display: inline-block;
}

/* ------------------------------------------------------------------------------------------------------- */
/* Education and Employment section */
.empedusection {
  font-family: sans-serif;
  background-color: #f5f5f5;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  border-style: dotted;
  border-color: #ffc000;
}

.seccontainer {
  display: grid;
  grid-template: auto/auto auto;
}

/* Education and Employment title */
.maintitle {
  font-size: 20pt;
  text-align: center;
  text-decoration: underline;
}

/* ------------------------------------------------------------------------------------------------------- */
/* Education and Employment container */
.empeducontainer {
  display: grid;
  grid-template: auto/ auto auto;
}

/* Education and Employment title */
.empedutitle {
  margin-left: 25px;
  font-size: 120%;
}

/* Education and Employment date */
.empedudate {
  margin: auto;
  margin-right: 25px;
  font-size: 100%;
}

/* Education and Employment location */
.empedulocation {
  margin-left: 25px;
  font-size: 90%;
  font-style: italic;
  line-height: 0.15;
}

/* Education and Employment bullet points */
.empedupoints {
  margin-left: 25px;
  margin-right: 75px;
  font-size: 100%;
}

/* ------------------------------------------------------------------------------------------------------- */
/* Footer */
.footer {
  font-family: sans-serif;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
