/* ------------------------------------------------------------------------------------------------------- */
/* HTML */
html {
  scroll-behavior: smooth;
  font-size: 100%;
  font-style: sans-serif;
}

/* ------------------------------------------------------------------------------------------------------- */
/* Body */
body {
  color: rgb(0, 0, 0);
  max-width: max-content;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('Pictures/Background.jpg');
  background-attachment: fixed;
}

.hr1 {
  border: 0;
  height: 1px;
  background-image: linear-gradient(left, whitesmoke, #d3d3d3, whitesmoke);
  background-image: -o-linear-gradient(left, whitesmoke, #d3d3d3, whitesmoke);
  background-image: -moz-linear-gradient(left, whitesmoke, #d3d3d3, whitesmoke);
  background-image: -webkit-linear-gradient(
    left,
    whitesmoke,
    #d3d3d3,
    whitesmoke
  );
}

/* ------------------------------------------------------------------------------------------------------- */
/* Header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.header_container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  background-image: linear-gradient(#eef3f7, white, white, white, #eef3f7);
  padding: 1rem;
}

.header_name {
  font-weight: bold;
  color: #182153;
  padding: 1rem;
}

.header_nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header_nav:hover a {
  opacity: 0.8;
  filter: blur(1.25px);
}

.header_nav a {
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 1rem;
  padding: 1rem;
  color: #182153;
  transition: 0.5s;
}

.header_nav a:hover {
  opacity: 1;
  filter: blur(0px);
  transition: 0.5s;
  transform: scale(1.1);
  color: #182153;
  text-shadow: none;
}

/* ------------------------------------------------------------------------------------------------------- */
/* Section 1 - Picture + Details */

.profile_card {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2);
  background-color: #898e8f;
  margin: 5% 25%;
  border-radius: 15px;
}

.profile_picture {
  grid-row: 1;
  grid-column: 1;
}

/* .profile_picture img:hover {
  transform: scale(10px);
} */

.profile_details {
  grid-row: 1;
  grid-column: 2;
  color: whitesmoke;
}

.profile_details_title {
  font-size: 1cqw;
  margin-left: 1rem;
}

.profile_details_info {
  font-size: 0.8cqw;
  margin-left: 1rem;
}

.profile_download {
  padding: 1rem;
  z-index: 100;
}

.profile_download_button {
  background-color: #eef3f7;
  padding: 15px;
  border-radius: 20px;
  font-size: 0.75cqw;
}

.profile_download_button:hover {
  background-color: royalblue;
  color: white;
}

.profile_icons {
  grid-row: 2;
  grid-column: 1 / span 2;
  text-align: center;
  padding: 1rem;
  pointer-events: all;
  /* z-index: 100; */
}

.profile_icons a {
  padding: 1rem;
}

/* ------------------------------------------------------------------------------------------------------- */
/* Section 2 - - Introduction */

#section_intro {
  width: 100%;
  background-color: #d3d3d3;
  float: auto;
}

.intro_title {
  text-align: center;
  padding-top: 1rem;
}

.intro_text {
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 1.5rem;
}
/* ------------------------------------------------------------------------------------------------------- */
/* Section 3/4/5 - Sections + Titles */
#section_middle {
  width: 100%;
  background-color: white;
}

.middle_title {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1em;
}

/* .sectitle {
  color: #182153;
  background-color: white;
  padding: 0.5em;
  text-align: center;
  font-size: 18px;
} */

/* ------------------------------------------------------------------------------------------------------- */
/* Section 3 - Skills */

.secskillscontainer {
  display: grid;
  grid-template-columns: repeat(3);
  text-align: center;
  margin-bottom: 30px;
}

.secskillscontainer .secskicon1 {
  margin: 0 auto;
  grid-column: 1;
}

.secskillscontainer .secskicon2 {
  margin: 0 auto;
  grid-column: 2;
}

.secskillscontainer .secskicon3 {
  margin: 0 auto;
  grid-column: 3;
}

/* ------------------------------------------------------------------------------------------------------- */
/* Section 4/5 - Experience History */

.middle_container {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  margin-left: 20%;
  margin-right: 20%;
}

.middle_1 {
  grid-column: 1 / span 2;
  text-align: end;
}

.middle_3 {
  grid-column: 4 / span 5;
}

/* ------------------------------------------------------------------------------------------------------- */
/* Footer */
.footer {
  text-align: center;
  background-color: #d3d3d3;
}

.footer_text {
  font-size: 1rem;
}

/* ------------------------------------------------------------------------------------------------------- */
/* Breakpoint Small Device */
@media (max-width: 576px) {
  .header_name {
    font-size: 1.5rem;
  }
}

/* ------------------------------------------------------------------------------------------------------- */
/* Breakpoint Small Device */
@media (min-width: 576px) {
  .header_name {
    font-size: 2rem;
  }
}

/* ------------------------------------------------------------------------------------------------------- */
/* Breakpoint Medium Device */
@media (min-width: 768px) {
  .header_name {
    font-size: 2.5rem;
  }
}

/* ------------------------------------------------------------------------------------------------------- */
/* Breakpoint Large Device */
@media (min-width: 992px) {
  .header_name {
    font-size: 2.5rem;
  }
}

/* ------------------------------------------------------------------------------------------------------- */
/* Breakpoint Extra Large Device */
@media (min-width: 1200px) {
  .header_name {
    font-size: 2.5rem;
  }
}

/* ------------------------------------------------------------------------------------------------------- */
/* Breakpoint Extra Extra Large Device */
@media (min-width: 1400px) {
  .header_name {
    font-size: 2.5rem;
  }

  #header_dropdown {
    visibility: hidden;
  }
}
