html {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

header {
  position: fixed;
  width: 100%;
  margin: 0;
  top: 0;
  background-color: #002147;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

@media (max-width: 576px) {
  .header_container {
    display: flex;
    align-items: center;
  }

  .header_container h2 {
    flex: 1;
    margin: 5% 10% 5% 10%;
  }

  .navigation_dropdown {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .dropdown_content {
    display: none;
  }
  /*  */

  .about_container {
    margin: 150px 0 15%;
    text-align: center;
  }

  .profile_picture {
    border: solid 10px white;
    border-radius: 100%;
  }

  .profile_text h1 {
    margin-top: 50px;
    line-height: 0;
    font-size: 2.2rem;
  }

  .profile_text h3 {
    line-height: 0;
  }

  .about_container p {
    margin: 25px 5%;
  }

  .links {
    margin-top: 10px;
  }

  .links iconify-icon {
    font-size: 50px;
    padding: 0 10px;
    color: black;
  }
  .download_CV {
    margin-top: 1rem;
    background-color: lightgray;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 1px solid #c3c3c3;
    color: black;
  }

  /*  */

  .experience_container h2,
  .education_container h2 {
    text-align: center;
    padding: 1rem;
    background-color: #b69ac3;
    color: white;
    margin-top: 25px;
  }

  .accordion_block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .accordion {
    display: flex;
    align-items: center;
    background-color: #763e90;
    color: #ffffff;
    cursor: pointer;
    padding: 0 15px;
    width: 85%;
    text-align: left;
    border: none;
    outline: none;
    margin-top: 10px;
  }

  .accordion h4 {
    flex-grow: 1;
  }

  .accordion_up {
    display: block;
  }

  .accordion_down {
    display: none;
  }

  .accordion_icon {
    transition: transform 0.3s ease;
  }

  .accordion.active .accordion_icon {
    transform: rotate(180deg); /* Rotates the icon to show 'up' */
  }

  .panel {
    padding: 0 18px;
    width: 70%;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }

  .bullet_points,
  .bullet_points li {
    margin-bottom: 10px;
  }

  .footer {
    background-color: lightgray;
    margin-top: 25px;
  }

  @media (min-width: 576px) {
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 992px) {
  }

  @media (min-width: 1200px) {
  }

  @media (min-width: 1400px) {
  }

  @media (min-width: 1652px) {
  }
}
