.section-inner {
  margin: auto;
  padding: 6rem 1.5rem;
}

.section-inner h2 {
  text-align: center;
  font-size: 2em;
  margin: 0 auto 1rem auto;
  max-width: 1200px;
  color: #ffffff;
}

hr {
  border: 2.5px solid #4a90e2;
  width: 75px;
  margin: 0 auto 3rem auto;
  border-radius: 4px;
}
