.experience-inner {
  display: block;
}

.experience-item {
  border: 2px solid #4a90e2;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 1rem;
  height: auto;
}

.experience-item h3 {
  color: #4a90e2;
  text-transform: uppercase;
  text-align: end;
}

.experience-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.experience-head .date {
  font-size: 0.9em;
}

.experience-item .location {
  text-align: center;
  margin: 1rem 0 0.75rem 0;
  font-size: 0.9em;
}

.experience-item .details {
  margin: 0 1.5rem 0 2rem;
}

.experience-item .details li {
  margin-top: 0.25rem;
  line-height: 1.75;
}

.cv-image {
  border: 5px solid #d3d3d3;
  border-radius: 0;
  width: 100%;
  height: auto;
}

.cv-container {
  text-align: center;
  margin-top: 20px;
  margin: auto;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.pagination-button {
  background: none;
  border: none;
  color: #d3d3d3;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.page-number {
  font-size: 16px;
}

@media (min-width: 800px) {
  .experience-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    padding: 1.75rem;
    margin: auto;
  }

  .left-column-experience,
  .right-column-experience {
    width: 49%;
  }

  .experience-item {
    height: 145px;
  }
}

@media (min-width: 1047px) {
  .experience-item {
    height: auto;
  }
}
